<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.MattersInoutDetailIosDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.MattersInoutDetailIos">
		INSERT INTO MATTERS_INOUT_DETAIL_IOS (
		   	ID,
		   	MATTERS_NO,
		   	STORE_SET_ID,
		   	OP_DATE,
		   	AMOUNT,
		   	VOUCHER_NO,
		   	OP_EMP,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{mattersNo,jdbcType=VARCHAR},
		   	#{storeSetId,jdbcType=BIGINT},
		   	#{opDate,jdbcType=TIMESTAMP},
		   	#{amount,jdbcType=DECIMAL},
		   	#{voucherNo,jdbcType=VARCHAR},
		   	#{opEmp,jdbcType=VARCHAR},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=BIGINT},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_MATTERS_INOUT_DETAIL_IOS.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.MattersInoutDetailIos">
		UPDATE MATTERS_INOUT_DETAIL_IOS
		<set>
			<if test="mattersNo != null">
				MATTERS_NO = #{mattersNo,jdbcType=VARCHAR},
			</if>
			<if test="storeSetId != null">
				STORE_SET_ID = #{storeSetId,jdbcType=BIGINT},
			</if>
			<if test="opDate != null">
				OP_DATE = #{opDate,jdbcType=TIMESTAMP},
			</if>
			<if test="amount != null">
				AMOUNT = #{amount,jdbcType=DECIMAL},
			</if>
			<if test="voucherNo != null">
				VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
			</if>
			<if test="opEmp != null">
				OP_EMP = #{opEmp,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.MattersInoutDetailIos">
		UPDATE MATTERS_INOUT_DETAIL_IOS
		<set>
			MATTERS_NO = #{mattersNo,jdbcType=VARCHAR},
			STORE_SET_ID = #{storeSetId,jdbcType=BIGINT},
			OP_DATE = #{opDate,jdbcType=TIMESTAMP},
			AMOUNT = #{amount,jdbcType=DECIMAL},
			VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
			OP_EMP = #{opEmp,jdbcType=VARCHAR},
			DELETED = #{deleted,jdbcType=VARCHAR},
			COMPANY_ID = #{companyId,jdbcType=BIGINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.MattersInoutDetailIos">
		UPDATE MATTERS_INOUT_DETAIL_IOS
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       MATTERS_NO mattersNo,
		       STORE_SET_ID storeSetId,
		       OP_DATE opDate,
		       AMOUNT amount,
		       VOUCHER_NO voucherNo,
		       OP_EMP opEmp,
		       DELETED deleted,
		       COMPANY_ID companyId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.MattersInoutDetailIos">
		<include refid="selectFieldSQL" />
		  FROM MATTERS_INOUT_DETAIL_IOS
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.MattersInoutDetailIos" resultType="com.zhiyun.entity.MattersInoutDetailIos">
		<include refid="selectFieldSQL" />
		  FROM MATTERS_INOUT_DETAIL_IOS
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="mattersNo != null and mattersNo != ''">
				AND MATTERS_NO = #{mattersNo,jdbcType=VARCHAR}
			</if>
			<if test="storeSetId != null">
				AND STORE_SET_ID = #{storeSetId,jdbcType=BIGINT}
			</if>
			<if test="opDate != null">
				AND OP_DATE = #{opDate,jdbcType=TIMESTAMP}
			</if>
			<if test="amount != null">
				AND AMOUNT = #{amount,jdbcType=DECIMAL}
			</if>
			<if test="voucherNo != null and voucherNo != ''">
				AND VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR}
			</if>
			<if test="opEmp != null and opEmp != ''">
				AND OP_EMP = #{opEmp,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.MattersInoutDetailIos">
		<include refid="selectFieldSQL" />
		  FROM MATTERS_INOUT_DETAIL_IOS
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.mattersNo != null and entity.mattersNo != ''">
					AND MATTERS_NO = #{entity.mattersNo,jdbcType=VARCHAR}
				</if>
				<if test="entity.storeSetId != null">
					AND STORE_SET_ID = #{entity.storeSetId,jdbcType=BIGINT}
				</if>
				<if test="entity.opDate != null">
					AND OP_DATE = #{entity.opDate,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.amount != null">
					AND AMOUNT = #{entity.amount,jdbcType=DECIMAL}
				</if>
				<if test="entity.voucherNo != null and entity.voucherNo != ''">
					AND VOUCHER_NO = #{entity.voucherNo,jdbcType=VARCHAR}
				</if>
				<if test="entity.opEmp != null and entity.opEmp != ''">
					AND OP_EMP = #{entity.opEmp,jdbcType=VARCHAR}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null">
					AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM MATTERS_INOUT_DETAIL_IOS
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.MattersInoutDetailIos">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM MATTERS_INOUT_DETAIL_IOS
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM MATTERS_INOUT_DETAIL_IOS
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM MATTERS_INOUT_DETAIL_IOS
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="mattersNo != null and mattersNo != ''">
				AND MATTERS_NO = #{mattersNo,jdbcType=VARCHAR}
			</if>
			<if test="storeSetId != null">
				AND STORE_SET_ID = #{storeSetId,jdbcType=BIGINT}
			</if>
			<if test="opDate != null">
				AND OP_DATE = #{opDate,jdbcType=TIMESTAMP}
			</if>
			<if test="amount != null">
				AND AMOUNT = #{amount,jdbcType=DECIMAL}
			</if>
			<if test="voucherNo != null and voucherNo != ''">
				AND VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR}
			</if>
			<if test="opEmp != null and opEmp != ''">
				AND OP_EMP = #{opEmp,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO MATTERS_INOUT_DETAIL_IOS (
		   	ID,
		   	MATTERS_NO,
		   	STORE_SET_ID,
		   	OP_DATE,
		   	AMOUNT,
		   	VOUCHER_NO,
		   	OP_EMP,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ mattersNo,jdbcType=VARCHAR},
		   	#{ storeSetId,jdbcType=BIGINT},
		   	#{ opDate,jdbcType=TIMESTAMP},
		   	#{ amount,jdbcType=DECIMAL},
		   	#{ voucherNo,jdbcType=VARCHAR},
		   	#{ opEmp,jdbcType=VARCHAR},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ companyId,jdbcType=BIGINT},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_MATTERS_INOUT_DETAIL_IOS.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE MATTERS_INOUT_DETAIL_IOS
		<set>
			<if test="mattersNo != null">
				MATTERS_NO = #{mattersNo,jdbcType=VARCHAR},
			</if>
			<if test="storeSetId != null">
				STORE_SET_ID = #{storeSetId,jdbcType=BIGINT},
			</if>
			<if test="opDate != null">
				OP_DATE = #{opDate,jdbcType=TIMESTAMP},
			</if>
			<if test="amount != null">
				AMOUNT = #{amount,jdbcType=DECIMAL},
			</if>
			<if test="voucherNo != null">
				VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
			</if>
			<if test="opEmp != null">
				OP_EMP = #{opEmp,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
