<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.TaskCheckRecordMesDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.TaskCheckRecordMes">
		INSERT INTO TASK_CHECK_RECORD_MES (
		   	ID,
		   	INSIDE_ORDER,
		   	CRAFWORK_ID,
		   	CUS_IS_OK,
		   	CHECK_EMP_NO,
		   	CHECK_DATE,
		   	`DESC`,
		   	PROD_NO,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{insideOrder,jdbcType=VARCHAR},
		   	#{crafworkId,jdbcType=BIGINT},
		   	#{cusIsOk,jdbcType=VARCHAR},
		   	#{checkEmpNo,jdbcType=VARCHAR},
		   	#{checkDate,jdbcType=TIMESTAMP},
		   	#{desc,jdbcType=VARCHAR},
		   	#{prodNo,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=BIGINT},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_TASK_CHECK_RECORD_MES.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.TaskCheckRecordMes">
		UPDATE TASK_CHECK_RECORD_MES
		<set>
			<if test="insideOrder != null">
				INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			</if>
			<if test="crafworkId != null">
				CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
			</if>
			<if test="cusIsOk != null">
				CUS_IS_OK = #{cusIsOk,jdbcType=VARCHAR},
			</if>
			<if test="checkEmpNo != null">
				CHECK_EMP_NO = #{checkEmpNo,jdbcType=VARCHAR},
			</if>
			<if test="checkDate != null">
				CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP},
			</if>
			<if test="desc != null">
				`DESC` = #{`DESC`,jdbcType=VARCHAR},
			</if>
			<if test="prodNo != null">
				PROD_NO = #{prodNo,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.TaskCheckRecordMes">
		UPDATE TASK_CHECK_RECORD_MES
		<set>
			INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
			CUS_IS_OK = #{cusIsOk,jdbcType=VARCHAR},
			CHECK_EMP_NO = #{checkEmpNo,jdbcType=VARCHAR},
			CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP},
			`DESC` = #{desc,jdbcType=VARCHAR},
			PROD_NO = #{prodNo,jdbcType=VARCHAR},
			COMPANY_ID = #{companyId,jdbcType=BIGINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.TaskCheckRecordMes">
		DELETE FROM TASK_CHECK_RECORD_MES WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       INSIDE_ORDER insideOrder,
		       CRAFWORK_ID crafworkId,
		       CUS_IS_OK cusIsOk,
		       CHECK_EMP_NO checkEmpNo,
		       CHECK_DATE checkDate,
		       `DESC` `desc`,
		       PROD_NO prodNo,
		       COMPANY_ID companyId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.TaskCheckRecordMes">
		<include refid="selectFieldSQL" />
		  FROM TASK_CHECK_RECORD_MES
		 WHERE ID = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.TaskCheckRecordMes" resultType="com.zhiyun.entity.TaskCheckRecordMes">
		<include refid="selectFieldSQL" />
		  FROM TASK_CHECK_RECORD_MES
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="insideOrder != null and insideOrder != ''">
				AND INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR}
			</if>
			<if test="crafworkId != null">
				AND CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT}
			</if>
			<if test="cusIsOk != null and cusIsOk != ''">
				AND CUS_IS_OK = #{cusIsOk,jdbcType=VARCHAR}
			</if>
			<if test="checkEmpNo != null and checkEmpNo != ''">
				AND CHECK_EMP_NO = #{checkEmpNo,jdbcType=VARCHAR}
			</if>
			<if test="checkDate != null">
				AND CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP}
			</if>
			<if test="desc != null and desc != ''">
				AND `DESC` = #{desc,jdbcType=VARCHAR}
			</if>
			<if test="prodNo != null and prodNo != ''">
				AND PROD_NO = #{prodNo,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.TaskCheckRecordMes">
		<include refid="selectFieldSQL" />
		  FROM TASK_CHECK_RECORD_MES
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.insideOrder != null and entity.insideOrder != ''">
					AND INSIDE_ORDER = #{entity.insideOrder,jdbcType=VARCHAR}
				</if>
				<if test="entity.crafworkId != null">
					AND CRAFWORK_ID = #{entity.crafworkId,jdbcType=BIGINT}
				</if>
				<if test="entity.cusIsOk != null and entity.cusIsOk != ''">
					AND CUS_IS_OK = #{entity.cusIsOk,jdbcType=VARCHAR}
				</if>
				<if test="entity.checkEmpNo != null and entity.checkEmpNo != ''">
					AND CHECK_EMP_NO = #{entity.checkEmpNo,jdbcType=VARCHAR}
				</if>
				<if test="entity.checkDate != null">
					AND CHECK_DATE = #{entity.checkDate,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.desc != null and entity.desc != ''">
					AND `DESC` = #{entity.desc,jdbcType=VARCHAR}
				</if>
				<if test="entity.prodNo != null and entity.prodNo != ''">
					AND PROD_NO = #{entity.prodNo,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null">
					AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM TASK_CHECK_RECORD_MES
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.TaskCheckRecordMes">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM TASK_CHECK_RECORD_MES
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM TASK_CHECK_RECORD_MES
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM TASK_CHECK_RECORD_MES
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="insideOrder != null and insideOrder != ''">
				AND INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR}
			</if>
			<if test="crafworkId != null">
				AND CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT}
			</if>
			<if test="cusIsOk != null and cusIsOk != ''">
				AND CUS_IS_OK = #{cusIsOk,jdbcType=VARCHAR}
			</if>
			<if test="checkEmpNo != null and checkEmpNo != ''">
				AND CHECK_EMP_NO = #{checkEmpNo,jdbcType=VARCHAR}
			</if>
			<if test="checkDate != null">
				AND CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP}
			</if>
			<if test="desc != null and desc != ''">
				AND `DESC` = #{desc,jdbcType=VARCHAR}
			</if>
			<if test="prodNo != null and prodNo != ''">
				AND PROD_NO = #{prodNo,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO TASK_CHECK_RECORD_MES (
		   	ID,
		   	INSIDE_ORDER,
		   	CRAFWORK_ID,
		   	CUS_IS_OK,
		   	CHECK_EMP_NO,
		   	CHECK_DATE,
		   	`DESC`,
		   	PROD_NO,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ insideOrder,jdbcType=VARCHAR},
		   	#{ crafworkId,jdbcType=BIGINT},
		   	#{ cusIsOk,jdbcType=VARCHAR},
		   	#{ checkEmpNo,jdbcType=VARCHAR},
		   	#{ checkDate,jdbcType=TIMESTAMP},
		   	#{ desc,jdbcType=VARCHAR},
		   	#{ prodNo,jdbcType=VARCHAR},
		   	#{ companyId,jdbcType=BIGINT},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_TASK_CHECK_RECORD_MES.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE TASK_CHECK_RECORD_MES
		<set>
			<if test="insideOrder != null">
				INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			</if>
			<if test="crafworkId != null">
				CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
			</if>
			<if test="cusIsOk != null">
				CUS_IS_OK = #{cusIsOk,jdbcType=VARCHAR},
			</if>
			<if test="checkEmpNo != null">
				CHECK_EMP_NO = #{checkEmpNo,jdbcType=VARCHAR},
			</if>
			<if test="checkDate != null">
				CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP},
			</if>
			<if test="desc != null">
				`DESC` = #{desc,jdbcType=VARCHAR},
			</if>
			<if test="prodNo != null">
				PROD_NO = #{prodNo,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
