<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.TaskFinishedMesDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.TaskFinishedMes">
		INSERT INTO TASK_FINISHED_MES (
		   	ID,
		   	INSIDE_ORDER,
		   	PROD_NO,
		   	CRAFWORK_ID,
		   	GET_TIME,
		   	DO_EMP_NO,
		   	OK_DATETIME,
		   	IS_CHECK,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{insideOrder,jdbcType=VARCHAR},
		   	#{prodNo,jdbcType=VARCHAR},
		   	#{crafworkId,jdbcType=BIGINT},
		   	#{getTime,jdbcType=TIMESTAMP},
		   	#{doEmpNo,jdbcType=VARCHAR},
		   	#{okDatetime,jdbcType=TIMESTAMP},
		   	#{isCheck,jdbcType=TINYINT},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=BIGINT},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_TASK_FINISHED_MES.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.TaskFinishedMes">
		UPDATE TASK_FINISHED_MES
		<set>
			<if test="insideOrder != null">
				INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			</if>
			<if test="prodNo != null">
				PROD_NO = #{prodNo,jdbcType=VARCHAR},
			</if>
			<if test="crafworkId != null">
				CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
			</if>
			<if test="getTime != null">
				GET_TIME = #{getTime,jdbcType=TIMESTAMP},
			</if>
			<if test="doEmpNo != null">
				DO_EMP_NO = #{doEmpNo,jdbcType=VARCHAR},
			</if>
			<if test="okDatetime != null">
				OK_DATETIME = #{okDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="isCheck != null">
				IS_CHECK = #{isCheck,jdbcType=TINYINT},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.TaskFinishedMes">
		UPDATE TASK_FINISHED_MES
		<set>
			INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			PROD_NO = #{prodNo,jdbcType=VARCHAR},
			CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
			GET_TIME = #{getTime,jdbcType=TIMESTAMP},
			DO_EMP_NO = #{doEmpNo,jdbcType=VARCHAR},
			OK_DATETIME = #{okDatetime,jdbcType=TIMESTAMP},
			IS_CHECK = #{isCheck,jdbcType=TINYINT},
			DELETED = #{deleted,jdbcType=VARCHAR},
			COMPANY_ID = #{companyId,jdbcType=BIGINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.TaskFinishedMes">
		UPDATE TASK_FINISHED_MES
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       INSIDE_ORDER insideOrder,
		       PROD_NO prodNo,
		       CRAFWORK_ID crafworkId,
		       GET_TIME getTime,
		       DO_EMP_NO doEmpNo,
		       OK_DATETIME okDatetime,
		       IS_CHECK isCheck,
		       DELETED deleted,
		       COMPANY_ID companyId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.TaskFinishedMes">
		<include refid="selectFieldSQL" />
		  FROM TASK_FINISHED_MES
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.TaskFinishedMes" resultType="com.zhiyun.entity.TaskFinishedMes">
		<include refid="selectFieldSQL" />
		  FROM TASK_FINISHED_MES
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="insideOrder != null and insideOrder != ''">
				AND INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR}
			</if>
			<if test="prodNo != null and prodNo != ''">
				AND PROD_NO = #{prodNo,jdbcType=VARCHAR}
			</if>
			<if test="crafworkId != null">
				AND CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT}
			</if>
			<if test="getTime != null">
				AND GET_TIME = #{getTime,jdbcType=TIMESTAMP}
			</if>
			<if test="doEmpNo != null and doEmpNo != ''">
				AND DO_EMP_NO = #{doEmpNo,jdbcType=VARCHAR}
			</if>
			<if test="okDatetime != null">
				AND OK_DATETIME = #{okDatetime,jdbcType=TIMESTAMP}
			</if>
			<if test="isCheck != null">
				AND IS_CHECK = #{isCheck,jdbcType=TINYINT}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.TaskFinishedMes">
		<include refid="selectFieldSQL" />
		  FROM TASK_FINISHED_MES
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.insideOrder != null and entity.insideOrder != ''">
					AND INSIDE_ORDER = #{entity.insideOrder,jdbcType=VARCHAR}
				</if>
				<if test="entity.prodNo != null and entity.prodNo != ''">
					AND PROD_NO = #{entity.prodNo,jdbcType=VARCHAR}
				</if>
				<if test="entity.crafworkId != null">
					AND CRAFWORK_ID = #{entity.crafworkId,jdbcType=BIGINT}
				</if>
				<if test="entity.getTime != null">
					AND GET_TIME = #{entity.getTime,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.doEmpNo != null and entity.doEmpNo != ''">
					AND DO_EMP_NO = #{entity.doEmpNo,jdbcType=VARCHAR}
				</if>
				<if test="entity.okDatetime != null">
					AND OK_DATETIME = #{entity.okDatetime,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.isCheck != null">
					AND IS_CHECK = #{entity.isCheck,jdbcType=TINYINT}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null">
					AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM TASK_FINISHED_MES
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.TaskFinishedMes">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM TASK_FINISHED_MES
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM TASK_FINISHED_MES
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM TASK_FINISHED_MES
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="insideOrder != null and insideOrder != ''">
				AND INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR}
			</if>
			<if test="prodNo != null and prodNo != ''">
				AND PROD_NO = #{prodNo,jdbcType=VARCHAR}
			</if>
			<if test="crafworkId != null">
				AND CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT}
			</if>
			<if test="getTime != null">
				AND GET_TIME = #{getTime,jdbcType=TIMESTAMP}
			</if>
			<if test="doEmpNo != null and doEmpNo != ''">
				AND DO_EMP_NO = #{doEmpNo,jdbcType=VARCHAR}
			</if>
			<if test="okDatetime != null">
				AND OK_DATETIME = #{okDatetime,jdbcType=TIMESTAMP}
			</if>
			<if test="isCheck != null">
				AND IS_CHECK = #{isCheck,jdbcType=TINYINT}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO TASK_FINISHED_MES (
		   	ID,
		   	INSIDE_ORDER,
		   	PROD_NO,
		   	CRAFWORK_ID,
		   	GET_TIME,
		   	DO_EMP_NO,
		   	OK_DATETIME,
		   	IS_CHECK,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ insideOrder,jdbcType=VARCHAR},
		   	#{ prodNo,jdbcType=VARCHAR},
		   	#{ crafworkId,jdbcType=BIGINT},
		   	#{ getTime,jdbcType=TIMESTAMP},
		   	#{ doEmpNo,jdbcType=VARCHAR},
		   	#{ okDatetime,jdbcType=TIMESTAMP},
		   	#{ isCheck,jdbcType=TINYINT},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ companyId,jdbcType=BIGINT},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ modifyBy,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_TASK_FINISHED_MES.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE TASK_FINISHED_MES
		<set>
			<if test="insideOrder != null">
				INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			</if>
			<if test="prodNo != null">
				PROD_NO = #{prodNo,jdbcType=VARCHAR},
			</if>
			<if test="crafworkId != null">
				CRAFWORK_ID = #{crafworkId,jdbcType=BIGINT},
			</if>
			<if test="getTime != null">
				GET_TIME = #{getTime,jdbcType=TIMESTAMP},
			</if>
			<if test="doEmpNo != null">
				DO_EMP_NO = #{doEmpNo,jdbcType=VARCHAR},
			</if>
			<if test="okDatetime != null">
				OK_DATETIME = #{okDatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="isCheck != null">
				IS_CHECK = #{isCheck,jdbcType=TINYINT},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
