<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.dao.impl.ProduceOrderApsDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="com.zhiyun.entity.ProduceOrderAps">
		INSERT INTO PRODUCE_ORDER_APS (
		   	ID,
		   	VOUCHER_NO,
		   	INSIDE_ORDER,
		   	VOUCHER_DATE,
		   	ORG_ID,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY,
		   	ORDER_SOURCE,
		   	CUSTOM_NO,
		   	ORDER_NO
		) VALUES (
		   	#{id,jdbcType=BIGINT},
		   	#{voucherNo,jdbcType=VARCHAR},
		   	#{insideOrder,jdbcType=VARCHAR},
		   	#{voucherDate,jdbcType=TIMESTAMP},
		   	#{orgId,jdbcType=BIGINT},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=BIGINT},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{orderSource,jdbcType=VARCHAR},
		   	#{customNo,jdbcType=VARCHAR},
		   	#{orderNo,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_PRODUCE_ORDER_APS.nextval as id FROM dual
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="com.zhiyun.entity.ProduceOrderAps">
		UPDATE PRODUCE_ORDER_APS
		<set>
			<if test="voucherNo != null">
				VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
			</if>
			<if test="insideOrder != null">
				INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			</if>
			<if test="voucherDate != null">
				VOUCHER_DATE = #{voucherDate,jdbcType=TIMESTAMP},
			</if>
			<if test="orgId != null">
				ORG_ID = #{orgId,jdbcType=BIGINT},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="orderSource != null">
				ORDER_SOURCE = #{orderSource,jdbcType=VARCHAR},
			</if>
			<if test="customNo != null">
				CUSTOM_NO = #{customNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				ORDER_NO = #{orderNo,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 更新实体 -->
	<update id="updateFields" parameterType="com.zhiyun.entity.ProduceOrderAps">
		UPDATE PRODUCE_ORDER_APS
		<set>
			VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
			INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			VOUCHER_DATE = #{voucherDate,jdbcType=TIMESTAMP},
			ORG_ID = #{orgId,jdbcType=BIGINT},
			DELETED = #{deleted,jdbcType=VARCHAR},
			COMPANY_ID = #{companyId,jdbcType=BIGINT},
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			CREATE_BY = #{createBy,jdbcType=VARCHAR},
			MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			ORDER_SOURCE = #{orderSource,jdbcType=VARCHAR},
			CUSTOM_NO = #{customNo,jdbcType=VARCHAR},
			ORDER_NO = #{orderNo,jdbcType=VARCHAR},
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="com.zhiyun.entity.ProduceOrderAps">
		UPDATE PRODUCE_ORDER_APS
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		SELECT 
		       ID id,
		       VOUCHER_NO voucherNo,
		       INSIDE_ORDER insideOrder,
		       VOUCHER_DATE voucherDate,
		       ORG_ID orgId,
		       DELETED deleted,
		       COMPANY_ID companyId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy,
		       ORDER_SOURCE orderSource,
		       CUSTOM_NO customNo,
		       ORDER_NO orderNo
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="com.zhiyun.entity.ProduceOrderAps">
		<include refid="selectFieldSQL" />
		  FROM PRODUCE_ORDER_APS
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="com.zhiyun.entity.ProduceOrderAps" resultType="com.zhiyun.entity.ProduceOrderAps">
		<include refid="selectFieldSQL" />
		  FROM PRODUCE_ORDER_APS
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="voucherNo != null and voucherNo != ''">
				AND VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR}
			</if>
			<if test="insideOrder != null and insideOrder != ''">
				AND INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR}
			</if>
			<if test="voucherDate != null">
				AND VOUCHER_DATE = #{voucherDate,jdbcType=TIMESTAMP}
			</if>
			<if test="orgId != null">
				AND ORG_ID = #{orgId,jdbcType=BIGINT}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
			<if test="orderSource != null and orderSource != ''">
				AND ORDER_SOURCE = #{orderSource,jdbcType=VARCHAR}
			</if>
			<if test="customNo != null and customNo != ''">
				AND CUSTOM_NO = #{customNo,jdbcType=VARCHAR}
			</if>
			<if test="orderNo != null and orderNo != ''">
				AND ORDER_NO = #{orderNo,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="com.zhiyun.entity.ProduceOrderAps">
		<include refid="selectFieldSQL" />
		  FROM PRODUCE_ORDER_APS
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.voucherNo != null and entity.voucherNo != ''">
					AND VOUCHER_NO = #{entity.voucherNo,jdbcType=VARCHAR}
				</if>
				<if test="entity.insideOrder != null and entity.insideOrder != ''">
					AND INSIDE_ORDER = #{entity.insideOrder,jdbcType=VARCHAR}
				</if>
				<if test="entity.voucherDate != null">
					AND VOUCHER_DATE = #{entity.voucherDate,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.orgId != null">
					AND ORG_ID = #{entity.orgId,jdbcType=BIGINT}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null">
					AND COMPANY_ID = #{entity.companyId,jdbcType=BIGINT}
				</if>
				<if test="entity.orderSource != null and entity.orderSource != ''">
					AND ORDER_SOURCE = #{entity.orderSource,jdbcType=VARCHAR}
				</if>
				<if test="entity.customNo != null and entity.customNo != ''">
					AND CUSTOM_NO = #{entity.customNo,jdbcType=VARCHAR}
				</if>
				<if test="entity.orderNo != null and entity.orderNo != ''">
					AND ORDER_NO = #{entity.orderNo,jdbcType=VARCHAR}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		SELECT count(*)
		  FROM PRODUCE_ORDER_APS
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="com.zhiyun.entity.ProduceOrderAps">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		  FROM PRODUCE_ORDER_APS
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>
	
	<!-- Map查询所有 -->
	<select id="findMapListAll" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM PRODUCE_ORDER_APS
		 WHERE DELETED = "F"
	</select>
	
	<!-- Map条件查询 -->
	<select id="findMapList" parameterType="map" resultType="map">
		<include refid="selectFieldSQL" />
		  FROM PRODUCE_ORDER_APS
		 <where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="voucherNo != null and voucherNo != ''">
				AND VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR}
			</if>
			<if test="insideOrder != null and insideOrder != ''">
				AND INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR}
			</if>
			<if test="voucherDate != null">
				AND VOUCHER_DATE = #{voucherDate,jdbcType=TIMESTAMP}
			</if>
			<if test="orgId != null">
				AND ORG_ID = #{orgId,jdbcType=BIGINT}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId,jdbcType=BIGINT}
			</if>
			<if test="orderSource != null and orderSource != ''">
				AND ORDER_SOURCE = #{orderSource,jdbcType=VARCHAR}
			</if>
			<if test="customNo != null and customNo != ''">
				AND CUSTOM_NO = #{customNo,jdbcType=VARCHAR}
			</if>
			<if test="orderNo != null and orderNo != ''">
				AND ORDER_NO = #{orderNo,jdbcType=VARCHAR}
			</if>
		 WHERE DELETED = "F"
		</where>
	</select>
	
	<!-- 插入实体map -->
	<insert id="mapInsert" parameterType="map">
		INSERT INTO PRODUCE_ORDER_APS (
		   	ID,
		   	VOUCHER_NO,
		   	INSIDE_ORDER,
		   	VOUCHER_DATE,
		   	ORG_ID,
		   	DELETED,
		   	COMPANY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY,
		   	ORDER_SOURCE,
		   	CUSTOM_NO,
		   	ORDER_NO
		) VALUES (
		   	#{ id,jdbcType=BIGINT},
		   	#{ voucherNo,jdbcType=VARCHAR},
		   	#{ insideOrder,jdbcType=VARCHAR},
		   	#{ voucherDate,jdbcType=TIMESTAMP},
		   	#{ orgId,jdbcType=BIGINT},
		   	#{ deleted,jdbcType=VARCHAR},
		   	#{ companyId,jdbcType=BIGINT},
		   	#{ createTime,jdbcType=TIMESTAMP},
		   	#{ createBy,jdbcType=VARCHAR},
		   	#{ modifyTime,jdbcType=TIMESTAMP},
		   	#{ modifyBy,jdbcType=VARCHAR},
		   	#{ orderSource,jdbcType=VARCHAR},
		   	#{ customNo,jdbcType=VARCHAR},
		   	#{ orderNo,jdbcType=VARCHAR}
		)
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_PRODUCE_ORDER_APS.nextval as id FROM dual
		</selectKey>
	</insert>
	
	<!-- 更新实体Map -->
	<update id="mapUpdate" parameterType="map">
		UPDATE PRODUCE_ORDER_APS
		<set>
			<if test="voucherNo != null">
				VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
			</if>
			<if test="insideOrder != null">
				INSIDE_ORDER = #{insideOrder,jdbcType=VARCHAR},
			</if>
			<if test="voucherDate != null">
				VOUCHER_DATE = #{voucherDate,jdbcType=TIMESTAMP},
			</if>
			<if test="orgId != null">
				ORG_ID = #{orgId,jdbcType=BIGINT},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="orderSource != null">
				ORDER_SOURCE = #{orderSource,jdbcType=VARCHAR},
			</if>
			<if test="customNo != null">
				CUSTOM_NO = #{customNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				ORDER_NO = #{orderNo,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>   
